* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header { 
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    /*color: #f5f6fa;*/
    color: darkgray;
    text-decoration: none;
}

.container {
    width: 1336px;
    margin: 0 auto;
} 

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*padding: 32px 32px 32px 32px;*/
   /*height: 30%; - funcionou porem nao do jeito que eu precisava*/ 
   width: 100%;
}

.articles article {
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;

}

.articles article a:hover{
    text-decoration: underline;
}

.articles article P,
.articles article a  {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

/*#sports {
    background-color: rgba(0, 255, 0, 0.1);
}*/

#sports .articles article a {
    background-color: #009432;
}

/*#economy{
    background-color: #f8f59f;
}*/

#economy .articles article a {
    background-color: #ff9f1a;
}

/*#technology{
    background-color: aquamarine;
}*/

#technology .articles article a {
    background-color: aqua;
}

/*#games{
    background-color: rgb(12, 65, 47);
}*/

#games .articles article a {
    background-color: rgb(7, 77, 77);
}

#technology img{
    height: 250px; /* Defina a altura desejada */
    width: 380px; /* Deve sr ajustado conforme a necessidade */
    object-fit: cover; /* Mantém a proporção da imagem */
    margin-right: 10px; /
}

#games img{
    height: 200px; /* Defina a altura desejada */
    width: 380px;
    object-fit: cover; /* Mantém a proporção da imagem */
    margin-right: 10px; /
}

#economy img{
    height: 200px; /* Defina a altura desejada */
    width: 380px;
    object-fit: cover; /* Mantém a proporção da imagem */
    margin-right: 10px; /
}

#sport img{
    height: 200px; /* Defina a altura desejada */
    width: 380px;
    object-fit: cover; /* Mantém a proporção da imagem */
    margin-right: 10px; /
}

p {
    text-align: justify; /* para alinhar o texto na mesma proporção na esquerda e na direita*/
    line-height: 1.5; /* altura da linha */
    /*height: 4.5em; /* altura do parágrafo (3 linhas x altura da linha) */
    overflow: hidden; /* oculta o texto que excede a altura especificada */
    margin: 0; /* margem zero para garantir que não haja espaço extra entre os parágrafos */
}

#technology #ler-mais{
    cursor: pointer;
    background-color: aqua;
    height: 35px;
    width: 75px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 10px;
    border-top: 25px;
}

#technology #expandir:hover{
    color: black;
}

#technology #expandir{
    cursor: pointer;
    background-color: aqua;
    height: 35px;
    width: 75px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 10px;
    border-top: 25px;
}

#technology #ler-mais:hover{
    color: black;
}


.clic{
    height: 300px;
    overflow: hidden;
    position: relative;
}

.clic::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: linear-gradient(transparent, #363636);
}

.motorola{
    position: relative;
}

.motorola.active .clic{
    height: auto;
}

.motorola.active .content{
    visibility: hidden;
}

.samsung{
    position: relative;
}

.samsung.active .clic{
    height: auto;
}

.samsung.active .content{
    visibility: hidden;
}


#technology #aumentar{
    cursor: pointer;
    background-color: aqua;
    height: 35px;
    width: 75px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 10px;
    border-top: 25px;
}

#technology #aumentar:hover{
    color: black;
}

.redmi{
    position: relative;
}

.redmi.active .clic{
    height: auto;
}

.redmi.active .content{
    visibility: hidden;
}
