* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: darkgray;
    text-decoration: none;
}

.container {
    width: 1336px;
    margin: 0 auto;
}


/* organização articles*/
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
}

section h2,
.articles article,
.articles article h3 {
    margin-bottom: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article h3 {
    font-size: 24px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

/*fim*/

section h2 {
    font-size: 32px;
}

section {
    padding: 16px 0;
}


/*Aparencia dos botoes*/
#sports .articles article a {
    background-color: aqua;
}

#economy .articles article a {
    background-color: aqua;
}

#technology .articles article a {
    background-color: aqua;
}

#games .articles article a {
    background-color: aqua;
}

/*fim dos botoes */

/* Organização das imagens dentro das sections*/
#technology img {
    height: 250px;
    /* Defina a altura desejada */
    width: 380px;
    /* Deve ser ajustado conforme a necessidade */
    object-fit: cover;
    /* Mantém a proporção da imagem */
    margin-right: 10px;
}

#games img {
    height: 200px;
    width: 380px;
    object-fit: cover;
    margin-right: 10px;
}

#economy img {
    height: 200px;
    width: 380px;
    object-fit: cover;
    margin-right: 10px;
}

#sport img {
    height: 200px;
    width: 380px;
    object-fit: cover;
    margin-right: 10px;
}

/*fim da organização das imagens*/

p {
    text-align: justify;
    /* para alinhar o texto na mesma proporção na esquerda e na direita*/
    line-height: 1.5;
    /* altura da linha */
    /*height: 4.5em; /* altura do parágrafo (3 linhas x altura da linha) */
    overflow: hidden;
    /* oculta o texto que excede a altura especificada */
    margin: 0;
    /* margem zero para garantir que não haja espaço extra entre os parágrafos */
    font-family: Arial, Helvetica, sans-serif;
}

/*Para o botão ler mais funcionar*/
.clic {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.clic::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: linear-gradient(transparent, #363636);
}

/*fim*/


/*Botão ler mais Motorola*/
#technology #expandir {
    cursor: pointer;
    background-color: aqua;
    height: 35px;
    width: 75px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 10px;
    border-top: 25px;
    border-radius: 6px;
}

#technology #expandir:hover {
    color: black;
}

.motorola {
    position: relative;
}

.motorola.active .clic {
    height: auto;
}

.motorola.active .content {
    visibility: hidden;
}


/*Botão ler mais Samsung*/
#technology #ler-mais {
    cursor: pointer;
    background-color: aqua;
    height: 35px;
    width: 75px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 10px;
    border-top: 25px;
    border-radius: 6px;
}

#technology #ler-mais:hover {
    color: black;
}

.samsung {
    position: relative;
}

.samsung.active .clic {
    height: auto;
}

.samsung.active .content {
    visibility: hidden;
}

/*Botão ler mais Redmi*/
#technology #aumentar {
    cursor: pointer;
    background-color: aqua;
    height: 35px;
    width: 75px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 10px;
    border-top: 25px;
    border-radius: 6px;
}

#technology #aumentar:hover {
    color: black;
}

.redmi {
    position: relative;
}

.redmi.active .clic {
    height: auto;
}

.redmi.active .content {
    visibility: hidden;
}

/*fim*/

/*footer*/
.contatos {
    padding: 16px;
    background-color: #2f3640;
    color: #fff;
    display: flex;
    /*align-items: column;*/
    justify-content: space-between;
}

.contatos a {
    color: #fff;
    list-style: none;
}

.articles img {
    max-width: 100%;
    height: auto;
}

/* Estilo para o layout responsivo 
.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer .contatos h2 {
    margin-right: 20px;
}

footer .contatos a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}*/